.title {
  font-family: "Bungee", sans-serif;
  font-size: 50px;
  align-self:center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #4056a1;
  color: white;
  display: flex;
  padding: 0 1.5em;
  justify-content: space-between;
}


#arrow {
  color:red;
  position: relative;
  top: -20px;;
}

#theArrow { 
  display: flex;
  justify-content: center;
}

.newTweet {
  display: flex;
  flex-direction: column;
  display: flex;
  padding: 1em 1.5em;

}

